@import '~antd/dist/antd.css';

.Menu-Button {
    color: white;
    background-color: rgb(0,21,41);
    border: 0ch;
}

.Menu-Button:hover{
    background-color: rgb(0,21,41);
}

.Category-title{
    font-weight: bold;
    font-size: 24px;
}